include mixins/all

doctype html
html(lang='en')
    head
        include parts/head

    body.page
        include parts/header

        main.page__inner
            article.section.section--padding-btm-small.section--bg-dark
                .section__inner
                    +title-area({
                        h1: 'Test automation, made simple',
                        subTitle: 'One consolidated tool for all test needs where multiple protocols can be tested simultaneously.',
                        classNames: 'section__title-area section__title-area--width-medium section__title-area--text-center'
                    })
                        .section__button-area
                            +button({text:'Request a Demo ↓', classNames: 'js-go-to', href: '#get-started'})

                    .logos
                        h5.h5.logos__title Trusted by the world’s most innovative businesses – big and small

                        //ul.logos__list
                        //    li.logos__item
                        //        include ../assets/images/companies/samsung.svg
                        //    li.logos__item
                        //        include ../assets/images/companies/digital_ocean.svg
                        //    li.logos__item
                        //        include ../assets/images/companies/new_relic.svg
                        //    li.logos__item
                        //        include ../assets/images/companies/doordash.svg
                        //    li.logos__item
                        //        include ../assets/images/companies/tradeshift.svg
                        //    li.logos__item
                        //        include ../assets/images/companies/instacart.svg


            article.section(id='overview')
                .section__inner
                    div(data-aos="fade-up")
                        +title-area({
                            preTitle:'Overview',
                            title:'One app for all test needs',
                            subTitle:'Support proprietary protocols, custom made windows, integration to other tools such as build servers and test management tools like Jenkins, Quality Center, etc.',
                            classNames: 'section__title-area section__title-area--text-center'
                        })

                    .iconed-copies(data-aos="fade-up")
                        ul.iconed-copies__list.row.collapse
                            - var titles = ['Multi API Support', 'User Friendly', 'Simple Test Automation', 'Highly Customizable']
                            - var texts = ['The tool is API agnostic and can support any API or protocol both standard and proprietary. One consolidated tool for all test needs.', 'Message handling windows are customized per business sector, adding an additional layer of user friendliness and simplicity.', 'Only API messages are recorded/replayed, not GUI components, which makes the testcases practically maintenance free.', 'Add proprietary protocols and custom made windows. Integrate build servers and test management tools.']
                            - for(var i = 0; i < 4; i++)
                                li.iconed-copies__item.large-6.small-12
                                    .iconed-copies__header
                                        .iconed-copies__icon
                                        h3.h3.iconed-copies__title #{titles[i]}

                                    .iconed-copies__content
                                        p.h4.iconed-copies__text #{texts[i]}

            article.section.section--bg-pre-white(id='features')
                .section__inner
                    div(data-aos="fade-up")
                        +title-area({
                            preTitle: 'Features',
                            title: 'Automate in 4 easy steps',
                            subTitle: 'Support proprietary protocols, custom made windows, integration to other tools such as build servers and test management tools like Jenkins, Quality Center, etc.',
                            classNames: 'section__title-area section__title-area--text-center'
                        })

                    section.article.row.collapse
                        .large-6.small-12.article__content
                            header.article__heading(data-aos="fade-up")
                                h3.article__title.h3 Create
                                p.article__sub-title The base GUI framework including the main user workspace, windows for all message handling, user session handling, customized windows, etc.

                            .iconed-copies.iconed-copies--size-small(data-aos="fade-up")
                                ul.iconed-copies__list.row.collapse
                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/environment.svg
                                            h4.iconed-copies__title Environments

                                        .iconed-copies__content
                                            p.iconed-copies__text Define different test environments and switch easily between them.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/user.svg
                                            h4.iconed-copies__title User Sessions

                                        .iconed-copies__content
                                            p.iconed-copies__text Save all user login details in one place. Connect/disconnect all users for all protocols at once.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/form.svg
                                            h4.iconed-copies__title Forms

                                        .iconed-copies__content
                                            p.iconed-copies__text Autogenerated from the API definitions but the layout can easily be changed by the user.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/window.svg
                                            h4.iconed-copies__title Windows

                                        .iconed-copies__content
                                            p.iconed-copies__text Branch or customer specific windows for message aggregation, smart controls etc.

                                ul.iconed-copies__list.row.collapse.iconed-copies__list--hidden.js-show-more-object
                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/environment.svg
                                            h4.iconed-copies__title Environments

                                        .iconed-copies__content
                                            p.iconed-copies__text Define different test environments and switch easily between them.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/user.svg
                                            h4.iconed-copies__title User Sessions

                                        .iconed-copies__content
                                            p.iconed-copies__text Save all user login details in one place. Connect/disconnect all users for all protocols at once.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/form.svg
                                            h4.iconed-copies__title Forms

                                        .iconed-copies__content
                                            p.iconed-copies__text Autogenerated from the API definitions but the layout can easily be changed by the user.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/window.svg
                                            h4.iconed-copies__title Windows

                                        .iconed-copies__content
                                            p.iconed-copies__text Branch or customer specific windows for message aggregation, smart controls etc.

                                a.iconed-copies__more.js-show-more(href='#')
                                    +icon({text:'See more'})
                                        include ../assets/images/more.svg

                        .large-6.small-12.article__img-box(data-aos="fade-up")
                            .article__img-wrapper
                                img.article__img(src='https://placehold.it/300x700')

                    section.article.row.collapse
                        .large-6.small-12.article__img-box(data-aos="fade-up")
                            .article__img-wrapper
                                img.article__img(src='http://placehold.it/300x700')

                        .large-6.small-12.article__content
                            header.article__heading(data-aos="fade-up")
                                h3.article__title.h3 VIEW
                                p.article__sub-title Component from where all sent and received messages can be viewed. Two views are provided – flow view and tabular view.

                            .iconed-copies.iconed-copies--size-small(data-aos="fade-up")
                                ul.iconed-copies__list.row.collapse
                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/arrows.svg
                                            h4.iconed-copies__title Flow & Tabular Views

                                        .iconed-copies__content
                                            p.iconed-copies__text Visualization of all messages sent/received from all supported protocols in one common view., extremely powerful and comprehensive

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/search.svg
                                            h4.iconed-copies__title Search & Filtering

                                        .iconed-copies__content
                                            p.iconed-copies__text Powerful search & filtering on both message type, message detail and user session level.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/description.svg
                                            h4.iconed-copies__title Message Short Descriptions

                                        .iconed-copies__content
                                            p.iconed-copies__text In the flow view, these are used to show the message type and important message contents.

                                    li.iconed-copies__item.large-6.small-12
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/decoding.svg
                                            h4.iconed-copies__title API Message Decoding

                                        .iconed-copies__content
                                            p.iconed-copies__text Messages are decoded in ”pretty print”, best suitable for each protocol.

                                    li.iconed-copies__item.large-6
                                        .iconed-copies__header
                                            .iconed-copies__icon
                                                include ../assets/images/check.svg
                                            h4.iconed-copies__title Offline Mode

                                        .iconed-copies__content
                                            p.iconed-copies__text Perfect for sending a clickable log of all transactions to a developer for troubleshooting.

            article.section(id='industries')
                .section__inner
                    .row.collapse
                        .large-4.small-12(data-aos="fade-up")
                            +title-area({
                                preTitle: 'Industries',
                                title: 'Use predefined modules or go custom',
                                subTitle: 'Modules for APIs used within specific industries and customer proprietary APIs. Can be combined in any way to be used in one consolidated core platform.',
                                classNames: 'section__side-title-area'
                            })

                        .large-8.small-12.image-list(data-aos="fade-up")
                            ul.image-list__list
                                - var titles = ['Finance', 'Insurance', 'Media', 'Gaming', 'Telecom', 'Custom']
                                - var texts = ['Completely customized modules for systems using mainly proprietary protocols/APIs.']
                                - var images = ['finance', 'insurance', 'media', 'gaming', 'telecom', 'custom']
                                - for(var i = 0; i < 6; i++)
                                    - var img = 'images/industries/'+images[i]+'.jpg 1x, images/industries/'+images[i]+'@2x.jpg 2x, images/industries/'+images[i]+'@3x.jpg 3x'
                                    li.image-list__item.js-image-list-item
                                        .image-list__item-inner
                                            .image-list__overlay
                                                .image-list__title #{titles[i]}
                                                .image-list__description #{texts[0]}
                                            img(srcset=img).image-list__image


            article.section.section--bg-dark(id='get-started')
                .section__inner
                    .modular-grid.modular-grid--large-span-2
                        div(data-aos="fade-up")
                            +title-area({
                                title: 'The future of test automation is now',
                                classNames: 'section__title-area section__title-area--separator section__title-area--no-bottom-padding modular-grid__item section__title-area--mobile-text-center'
                            })

                        .modular-grid__item(data-aos="fade-up")
                            .flipper
                                .flipper__side
                                    form.form.form--width-medium.js-form
                                        .form__header
                                            .form__logo
                                                include ../assets/images/icon.svg
                                            h3.form__title Request a Demo

                                        .form__body
                                            .form__row
                                                +input({type: 'text', label: 'Name *', placeholder: 'Douglas Adams'})

                                            .form__row
                                                +input({type: 'text', label: 'Company *', placeholder: 'Acme Co.', error: 'Invalid Email', className: 'error'})

                                            .form__row
                                                +input({type: 'text', label: 'Email *', placeholder: 'you@company.com'})

                                            .form__row
                                                +dropdown({
                                                    label: 'Which best describes you? *',
                                                    placeholder: 'Please Select',
                                                    value: 'Financial institution',
                                                    list: ['Financial institution','Online casino','Telecom provider','Customized module'],
                                                    id:'describe',
                                                    error: 'Choose Something'
                                                })

                                            .form__row.form__button
                                                +button({
                                                    text: 'Request a Demo',
                                                    classNames: 'button--color-blue button--width-full js-button'
                                                })
                                .flipper__side
                                    .form-overlay
                                        div
                                            .form__logo
                                                include ../assets/images/success.svg

                                            h3.form__title Thank You!
                                            h4.h4 We'll be in touch soon to schedule a demo.

                        .roadmap.modular-grid__item(data-aos="fade-up")
                            h3.h3.roadmap__sub-title Typical workflow to deploy IntelliQ for a new customer:
                            ul.roadmap__list
                                - var titles = ['Collect Customer Needs', 'Estimate & Plan', 'Develop & Test', 'Release']
                                - var texts = ['Agree requirements around protocols/APIs to be supported, specific windows & integration to other tools.', 'Estimate effort and price for implementation (delivery fee plus final license/support fee).', 'Implement the software solution and perform functional and performance testing.', 'On site training and tool launch within customer’s organisation.']
                                - for(var i = 0; i < 4; i++)
                                    li.roadmap__item
                                        .roadmap__header
                                            .roadmap__step
                                            .roadmap__step-title #{titles[i]}

                                        .roadmap__content
                                            .roadmap__text #{texts[i]}


            article.section.section--bg-pre-white
                .section__inner.section__inner--width-medium
                    div(data-aos="fade-up")
                        +title-area({
                            preTitle: 'FAQ',
                            title: 'Questions you might have',
                            classNames: 'section__title-area section__title-area--small-bottom-padding section__title-area--text-center'
                        })

                    div(data-aos="fade-up")
                        +accordion({
                            title:'How quickly is the software delivered?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

                        +accordion({
                            title:'What\'s included in the license?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

                        +accordion({
                            title:'Can I install the product on more than one machine?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

                        +accordion({
                            title:'Is my data secure?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

                        +accordion({
                            title:'Do I need training to use IntelliQ?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

                        +accordion({
                            title:'What languages are supported?',
                            text:'Yes. Communication between your computer and our database is encrypted. The data itself (e.g., source documents, translations, translation memories) are encrypted in our database.\n'
                        })

        include parts/footer
