mixin title-area(object)
    div(class=object.classNames)
        if(object.preTitle)
            h6.h6.section__pre-title #{object.preTitle}

        if(object.title)
            h2.h2.section__title #{object.title}

        if(object.h1)
            h1.h1.section__title #{object.h1}

        if(object.subTitle)
            h3.h3.section__sub-title #{object.subTitle}
        block